<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (user) { %>
    <h1><%= user.name %></h1>
    <% } %>

    <% if (user.name=='张三') { %>
      <h1>我的名字叫<%= user.name %></h1>
      <% } else if (user.name=='李四'){ %>
        <h1>我不叫张三，我叫<%= user.name %></h1>
        <% } %>
  </body>
</html>
